// ====================================================================================================== //
// BASE.SCSS //
// This file contains all general html tag styling
// ====================================================================================================== //

// Set all dom nodes to border-box
@if $default-border-box {
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }
}

// Use font-smoothing
@if $default-font-smoothing {
  html,
  html a {
    @include fontsmoothing();
  }
}

// Disable outlining
@if $default-disable-outline {
  *:active,
  *:hover,
  *:focus {
    outline: 0 !important;
  }
}

// clean menu items
@if $default-clean-menus {
  menu,
  ul,
  ol,
  dl {
    margin: 0;
    padding: 0;
  }
}

// Set a body background-color
body {
  background-color: $c-white;
}
