// ====================================================================================================== //
// TABLES.SCSS //
// This file contains base styling of table tags
// ====================================================================================================== //

table,
table td,
table th {
  border: 0;
}

table {
  width: 100%;
  background-color: $c-white;

  td,
  th {
    padding: 10px 20px;
  }
}
