// Tables
//
// Styling for the default `<table>` element.
//
// Markup: tables.hbs
//
// Style guide: base.tables

table,
table td,
table th {
  border: 0;
}

table {
  width: 100%;
  background-color: $c-white;

  td,
  th {
    padding: 10px 20px;
  }
}
