/// Enable support for IE6
/// @source http://compass-style.org/reference/compass/support/
/// @deprecated
/// @group Browser support
$legacy-support-for-ie6: false !global;

/// Enable support for IE7
/// @source http://compass-style.org/reference/compass/support/
/// @deprecated
/// @group Browser support
$legacy-support-for-ie7: false !global;

/// Enable support for IE8
/// @source http://compass-style.org/reference/compass/support/
/// @deprecated
/// @group Browser support
$legacy-support-for-ie8: true !global;

/// Minimum browser versions.
/// @group Browser support
$browser-minimum-versions: (
  'ie': "8",
  "chrome": "20",
  "firefox": "20",
  "safari": "5",
  "opera": "22"
);
