// BREAKPOINTS
@import "../../../../breakpoints.json";
@import "neat-helpers";

@each $key, $val in $breakpoints {
  $breakpoints: map-merge($breakpoints, ($key: map-merge($val, (media: new-breakpoint(map-get($val, width), map-get($val, "cols"))))));
}

/// Neat Setting to disable warnings
//// @group Neat Settings
//// @type Boolean
$disable-warnings: false;

/// Sets the total number of columns in the grid.
/// Its value can be overridden inside a media query using the media() mixin.
//// @group Neat Settings
//// @type Value
$grid-columns: 12;

/// Sets the relative width of a single grid column.
/// The unit used should be the same one used to define $gutter.
//// @group Neat Settings
//// @type Function
$column: modular-scale(3, 1em, $golden);

/// Sets the relative width of a single grid gutter.
/// The unit used should be the same one used to define $column.
//// @group Neat Settings
//// @type Function
$gutter: modular-scale(1, .5em, $golden);

/// Sets the max-width property of the element that includes outer-container()
//// @group Neat Settings
//// @type Value
$max-width: em(1170);

/// When set to true, it sets the box-sizing property of all elements to border-box
//// @group Neat Settings
//// @type Boolean
$border-box-sizing: false;

/// Sets the default media feature that media() and new-breakpoint() revert to when only a breakpoint value is passed
//// @group Neat Settings
//// @type Value
$default-feature: min-width;

/// Sets the default layout direction of the grid. Can be LTR or RTL.
//// @group Neat Settings
//// @type Value
$default-layout-direction: LTR;

/// Displays the visual grid when set to true
//// @group Neat Settings
//// @type Boolean
$visual-grid: false;

/// Sets the visual grid color
//// @group Neat Settings
//// @type value
$visual-grid-color: red;

/// Sets the z-index property of the visual grid. Can be back (behind content) or front (in front of content).
//// @group Neat Settings
//// @type value
$visual-grid-index: front;

/// Sets the opacity property of the visual grid
//// @group Neat Settings
//// @type value
$visual-grid-opacity: .1;
