/* ====================================================================================================== */
/* IMPORTS
/* ====================================================================================================== */
// gems
@import "h5bp"

// compass
@import "compass/css3/"
@import "compass/typography/"
@import "compass/utilities/"

// vendors
@import "vendor/grid"
@import "vendor/media-queries"

// lib
@import "lib/var"
@import "lib/mixin"

/* ====================================================================================================== */
/* NORMALIZE
/* ====================================================================================================== */
+h5bp-normalize
+h5bp-helpers

/* ====================================================================================================== */
/* BASE
/* ====================================================================================================== */
*:active, *:hover, *:focus
  outline: 0 !important


menu, ul, ol, dl
  margin: 0
  padding: 0

body
  background-color: #FFF
