/**
 * @file
 * Styling for contextual links look and feel.
 */
/**
 * Contextual links.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/robbiebardijn\/Documents\/REPO\/drupal_grunt\/assets\/scss\/drupal\/contextual\/contextual\.theme-rtl\.scss}line{font-family:\0000311}}
.contextual-links {
  left: 0;
  right: auto;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 4px;
}
