/**
 * @file
 * Right to left theme styles for the openid module.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/robbiebardijn\/Documents\/REPO\/drupal_grunt\/assets\/scss\/drupal\/openid\/openid\.theme-rtl\.scss}line{font-family:\000036}}
.form-item-openid-identifier input {
  padding-left: 0;
  padding-right: 20px;
  background-position: right 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/robbiebardijn\/Documents\/REPO\/drupal_grunt\/assets\/scss\/drupal\/openid\/openid\.theme-rtl\.scss}line{font-family:\0000312}}
.openid-links a {
  padding: 0 1.5em 0 0;
  background-position: right top;
}
