// ====================================================================================================== //
// NORMALIZE //
// ====================================================================================================== //
@include h5bp-normalize;
@include h5bp-helpers;

// fonts
// +font-face("NAME", font-files("FILE.woff", "FILE.ttf", "FILE.otf", "FILE.svg"), "FILE.eot")
// ====================================================================================================== //
// BASE //
// ====================================================================================================== //
*:active,
*:hover,
*:focus {
  outline: 0 !important;
}

menu,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
}

table,
table td,
table th {
  border: 0;
}

table {
  width: 100%;
  background-color: $white;

  td,
  th {
    padding: 10px 20px;
  }
}

