@for $i from 1 through $cols {
  .w#{$i} {
    @include span($i of $cols);
  }
}

$grids: (1, 2, 3, 4, 6);
@each $i in $grids {
  .grid-#{$i} {
    @include grid($i);
  }
}

.latest {
  @include last;
}

.container {
 @include container;
 padding: 0 rhythm(1);
}

.tablet-container {
 @include breakpoint($b-tablet) {
   @include container;
   padding: 0 rhythm(1);
 }
}

.desktop-container {
 @include breakpoint($b-desktop) {
   @include container;
   padding: 0 rhythm(1);
 }
}

.max-container {
 @include pie-clearfix;

 @include breakpoint($b-max) {
   @include container;
   padding: 0 rhythm(1);
 }
}
