/// Set true to set the global box-sizing to border-box.
/// @group Defaults
$default-border-box: true;

/// Set true to use font smoothing.
/// @group Defaults
$default-font-smoothing: true;

/// Set true to disable the outlines.
/// @group Defaults
$default-disable-outline: false;

/// Set true to clean menu's of margins and paddings.
/// @group Defaults
$default-clean-menus: true;

/// Default `border-radius`.
/// @group Defaults
$default-border-radius: 10px;

/// Default `border-width`.
/// @group Defaults
$default-border-width: 3px;
