// Set true to set the global box-sizing to border-box.
$default-border-box: true;

// Set true to use font smoothing
$default-font-smoothing: true;

// Default values
$default-border-radius: 10px;
$default-border-width: 3px;
