// BREAKPOINTS
@import "neat-helpers";

$zero: 0;
$mobile: 480px;
$tablet: 768px;
$ninesixty: 960px;
$desktop: 1170px;
$max: 1200px;

$breakpoints: (
  zero:  new-breakpoint($zero, 4),
  mobile: new-breakpoint($mobile, 8),
  tablet:  new-breakpoint($tablet, 8),
  ninesixty: new-breakpoint($ninesixty, 12),
  desktop: new-breakpoint($desktop, 12),
  max: new-breakpoint($max, 12)
);

$breakpoint-ratios: (
  mobile: .6,
  tablet:  .75,
  desktop: 1,
  max: 1.25
);

// NEAT SETTINGS
$disable-warnings: false;
$grid-columns: 12;

$column: modular-scale(3, 1em, $golden);
$gutter: modular-scale(1, .5em, $golden);

$max-width: em(1170);
$border-box-sizing: false;
$default-feature: min-width;
$default-layout-direction: LTR;

$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: .1;
