// BREAKPOINTS
@import "../../../../ocelot.breakpoints.json";
@import "neat-helpers";

$breakpoint: (
  zero:  new-breakpoint(map-get($breakpoints, zero), 4),
  mobile: new-breakpoint(map-get($breakpoints, mobile), 8),
  tablet:  new-breakpoint(map-get($breakpoints, tablet), 8),
  ninesixty: new-breakpoint(map-get($breakpoints, ninesixty), 12),
  desktop: new-breakpoint(map-get($breakpoints, desktop), 12),
  max: new-breakpoint(map-get($breakpoints, max), 12),
);

$breakpoint-ratios: (
  mobile: .6,
  tablet:  .75,
  desktop: 1,
  max: 1.25
);

// NEAT SETTINGS
$disable-warnings: false;
$grid-columns: 12;

$column: modular-scale(3, 1em, $golden);
$gutter: modular-scale(1, .5em, $golden);

$max-width: em(1170);
$border-box-sizing: false;
$default-feature: min-width;
$default-layout-direction: LTR;

$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: .1;
