/// Rembase variable
//// @group Typography
//// @type Value
$rembase: 16;

/// Base font size in px
//// @group Typography
//// @type Value
$base-font-size: 15px;

/// Base line height in px
//// @group Typography
//// @type Value
$base-line-height: 25px;

/// Font stack: Arial
//// @group Font Stacks
//// @type String
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;

// Rythm
$rhythm-unit: "rem";
$rem-with-px-fallback: true;
$round-to-nearest-half-line: true;
