@mixin typo($font, $size, $lh, $color, $weight: normal, $style: normal, $unit: rem) {
  @include font-size-line-height($size, $lh, $unit);
  font-family: $font;
  color: $color;
  font-weight: $weight;
  font-style: $style;
}

@function font-family-stack($name: "Arial", $kind: "regular", $stack: "Helvetica, Arial, Sans-Serif") {
  @return "#{$name}-#{$kind}", $stack;
}

@mixin font-size($size, $unit: rem) {
  @if $rem-with-px-fallback == true {
    font-size: $size + px;
  }

  font-size: $size / $rembase + $unit;
}

@mixin line-height($line-height, $unit: rem) {
  @if $rem-with-px-fallback == true {
    line-height: $line-height + px;
  }

  line-height: $line-height / $rembase + $unit;
}

@mixin font-size-line-height($font-size, $line-height, $unit: rem) {
  @include font-size($font-size, $unit);
  @include line-height($line-height, $unit);
}

@mixin fontsmoothing ($smooting: antialiased, $uses-text-shadow: false) {
  -webkit-font-smoothing: $smooting;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: $smooting;
  -ms-font-smoothing: $smooting;
  font-smoothing: $smooting;

  @if $uses-text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  }
}

@mixin h1($font: $arial, $font-size: 50, $text-color: $text-color) {
  @include typo($font, $font-size, strip-units(modular-scale(1, $font-size)), $text-color);
  text-transform: uppercase;
  @include heading($font-size);
}

@mixin h2($font: $arial, $font-size: 40, $text-color: $text-color) {
  @include typo($font, $font-size, strip-units(modular-scale(1, $font-size)), $text-color);
  @include heading($font-size);
}

@mixin h3($font: $arial, $font-size: 28, $text-color: $text-color) {
  @include typo($font, $font-size, strip-units(modular-scale(1, $font-size)), $text-color);
  @include heading($font-size);
}

@mixin h4($font: $arial, $font-size: 24, $text-color: $text-color) {
  @include typo($font, $font-size, strip-units(modular-scale(1, $font-size)), $text-color);
  @include heading($font-size, mdg($breakpoints, tablet, ratio));
}

@mixin h5($font: $arial, $font-size: 20, $text-color: $text-color) {
  @include typo($font, $font-size, strip-units(modular-scale(1, $font-size)), $text-color);
  @include heading($font-size, mdg($breakpoints, tablet, ratio));
}

@mixin h6($font: $arial, $font-size: 18, $text-color: $text-color) {
  @include typo($font, $font-size, strip-units(modular-scale(1, $font-size)), $text-color);
  @include heading($font-size, mdg($breakpoints, tablet, ratio));
}

@mixin heading($font-size, $mobileratio: mdg($breakpoints, mobile, ratio)) {
  margin: 0 0 #{modular-scale(-2, $font-size)}px 0;
  @include font-size-line-height($font-size * $mobileratio, strip-units(modular-scale(1, $font-size * $mobileratio)));

  @include media(med(tablet)) {
    @include font-size-line-height($font-size * mdg($breakpoints, tablet, ratio), strip-units(modular-scale(1, $font-size * mdg($breakpoints, tablet, ratio))));
  }

  @include media(med(desktop)) {
    @include font-size-line-height($font-size, strip-units(modular-scale(1, $font-size)));
  }
}
