/// Make an item unselectable
//// @group Utils
@mixin unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/// Fix for flickering carousels
//// @group Utils
@mixin no-flick {
  @include translate3d(0, 0, 0);
}
